@use './base/' as base;
@use './components/' as *;
@use './pages' as pages;
@use './utils/' as *;

body {
  background: linear-gradient($color-secondary, $color-tertiary) no-repeat;
  display: grid;
  min-height: 100vh;
  padding: 0 2rem;
  place-content: center;
}
