@use '../utils/' as *;

.card {
  background: $color-white;
  border-radius: 30px;
  margin: 0 auto;
  max-width: 1140px;
  padding: 4em 3rem;

  &__title {
    margin-top: 0;
    text-align: center;
  }

  @include media($tablets) {
    padding: 5em;

    &__title {
      text-align: left;
    }
  }
}
